<!DOCTYPE HTML>
<html>
	<head>
		<title>Art of Jordan Forbes</title>
		<link rel="stylesheet" type="text/css" href="main.css" />
	</head>
	<body>
	<%include ../partials/navbar%>
		
	<%include ../partials/mainpage%>

	<%include ../partials/footer%>
	</body>
</html>